@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
* body {
  font-size: 16px;
}
* body h1, * body h2, * body h3, * body form {
  font-family: "Raleway";
  font-weight: 700;
}
* body p, * body a, * body footer {
  font-family: "Open Sans";
  font-weight: 400;
}
* body header, * body h5 {
  font-family: "Raleway";
  font-weight: 400;
}
* body header img, * body h5 img {
  width: 20%;
}
* body header ul, * body h5 ul {
  display: flex;
  float: right;
  width: 60%;
  justify-content: space-between;
}
* body header {
  margin: 1rem;
}
@media only screen and (min-width: 992px) {
  * body header {
    margin: 3rem 5rem;
  }
}
* body header img {
  width: 25%;
  max-width: 125px;
}
* body header ul {
  max-width: 250px;
  float: right;
  justify-content: space-between;
}
* body main img {
  max-width: 100%;
}
* body main .content h2 {
  margin: 2rem 0rem;
  font-size: 1rem;
  text-align: center;
}
* body main .content p {
  margin-top: 1rem;
}
* body main .content .see-more {
  text-align: center;
  margin: 3rem auto;
}
@media only screen and (min-width: 992px) {
  * body main .content .see-more {
    margin: 1rem 0rem;
    text-align: left;
  }
}
* body main .content .see-more a {
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 0.25rem;
}
* body main form {
  margin: 2rem 0.5rem;
}
* body main form input {
  display: block;
  width: 100%;
  margin-top: 1rem;
  height: 2.5rem;
}
* body main form input[type=text] {
  padding: 1rem;
}
* body main form input[type=text] ::-moz-placeholder {
  color: #d7d7d7d;
}
* body main form input[type=text] ::placeholder {
  color: #d7d7d7d;
}
* body main form input[type=submit] {
  background-color: #3065f8;
  color: #f6f6fe;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #bfbfbf;
}
* body main .hero {
  margin-top: 4rem;
  padding: 3rem 1rem;
}
* body main .hero .content {
  text-align: center;
}
* body main .hero .content h1 {
  margin-top: 3rem;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
* body main .row {
  background-color: #f6f6fe;
  padding: 2rem 1rem;
}
* body main .row a {
  color: #3f9b8b;
}
* body main .row a div {
  display: inline-flex;
  align-items: center;
}
* body main .row a div img {
  width: 0.9rem;
  margin-left: 0.5rem;
}
* body main .row a div p {
  margin: 0px;
}
@media only screen and (min-width: 992px) {
  * body main .row a div p {
    padding-right: 7rem;
  }
}
@media only screen and (min-width: 992px) {
  * body main .hero, * body main .row {
    padding: 3rem 3rem;
    display: flex;
    margin-top: 0px;
  }
  * body main .hero .illustration, * body main .row .illustration {
    order: 2;
    padding: 1rem;
    width: 70vw;
  }
  * body main .hero .content, * body main .row .content {
    margin: auto;
    text-align: left;
  }
  * body main .hero .content h1, * body main .row .content h1 {
    margin: 0px;
  }
  * body main .hero .content form, * body main .row .content form {
    width: 85%;
    margin: 0px;
    display: inline-flex;
  }
  * body main .hero .content form input[type=text], * body main .row .content form input[type=text] {
    margin-right: 1rem;
  }
}
* body main .bg-curve {
  margin-bottom: -5px;
  width: 100%;
}
* body main .testimonial {
  width: 88%;
  max-width: 300px;
  box-shadow: 0px 0px 5px #bfbfbf;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #fff;
}
* body main .testimonial p {
  margin: 0.5rem auto 1rem;
  font-size: 0.65rem;
  word-spacing: 3px;
}
* body main .testimonial .testimonial-info {
  display: block;
}
* body main .testimonial .testimonial-info img {
  width: 1.75rem;
  border-radius: 50%;
  display: inline-flex;
  float: left;
  margin-right: 1rem;
}
* body main .testimonial .testimonial-info h3 {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}
* body main .testimonial .testimonial-info h5 {
  font-size: 0.5rem;
}
@media only screen and (min-width: 992px) {
  * body main .testimonial {
    margin: 2rem 0rem;
  }
}
* body main .access-cta {
  background-color: #585989;
  padding: 3rem 1rem;
  color: #f6f6fe;
}
* body main .access-cta h2 {
  font-size: 1rem;
  text-align: center;
  margin: 1rem 0rem;
}
* body main .access-cta p {
  width: 92%;
  text-align: center;
  margin: auto;
}
* body main .access-cta form {
  width: 75%;
  margin: auto;
}
* body main .access-cta input[type=submit] {
  box-shadow: 2px 2px 5px #4c4c4c;
}
* body footer {
  padding: 3rem 2rem;
  background: #070439;
  color: #bfbfbf;
}
* body footer ul {
  margin-top: 1rem;
}
* body footer ul li div {
  display: inline-flex;
  margin-top: 1rem;
}
* body footer ul li div img {
  margin: auto;
  height: -moz-fit-content;
  height: fit-content;
}
* body footer ul li div p {
  margin-left: 1rem;
}
* body footer .navigation {
  margin-top: 2rem;
}
* body footer .navigation ul {
  margin-bottom: 3rem;
}
* body footer .navigation ul li {
  margin-bottom: 0.75rem;
}
* body footer .socials {
  display: flex;
  width: 40%;
  justify-content: space-around;
  margin: auto;
}
* body footer .socials img {
  width: 24px;
  height: 24px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */