@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap')

*
    margin: 0
    padding: 0
    box-sizing: border-box

    $very-dark-blue: #070439
    $desaturated-blue: #585989
    $bright-blue: #3065f8
    $light-grayish-blue: #f6f6fe
    $light-gray: #bfbfbf
body
    margin: 1rem
    font-size: 16px
    h1, h2, form
        font-family: 'Raleway'
        font-weight: 700
    p
        font-family: 'Open Sans'
        font-weight: 400
    header
        font-family: 'Raleway'
        font-weight: 400
        img
            width: 20%
        ul
            list-style-type: none
            display: flex
            float: right
            width: 60%
            justify-content: space-between
    main
        img
            max-width: 100%
        .content
            h2
                margin: 2rem 0rem
                font-size: 1rem
                text-align: center
            p
                margin-top: 1rem
            form
                margin: 2rem .5rem
                input
                    display: block
                    width: 100%
                    margin-top: 1rem
                    height: 2.5rem
                input[type=text]
                    padding: 1rem
            div a
                text-align: center
        .hero
            margin-top: 4rem
            .content
                text-align: center
                h1
                    margin-top: 3rem
                    font-size: 1.5rem
                    line-height: 2.25rem
